<ul class="nav">
	<li class="nav-item">
		<a data-toggle="collapse" href="#account">
			<i class="fas fa-user"></i>
			<p>帳號管理</p>
			<span class="caret"></span>
		</a>
		<div class="collapse" id="account">
			<ul class="nav nav-collapse">
				<li>
					<a href="?p=account&s=user&mode=add">
						<span class="sub-item">新增帳號</span>
					</a>
				</li>
				<li>
					<a href="?p=account&s=manage">
						<span class="sub-item">帳號管理</span>
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a data-toggle="collapse" href="#game">
			<i class="fas fa-gamepad"></i>
			<p>遊戲控制</p>
			<span class="caret"></span>
		</a>
		<div class="collapse" id="game">
			<ul class="nav nav-collapse">
				<li>
					<a href="?p=game&s=main">
						<span class="sub-item">自動操作</span>
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a data-toggle="collapse" href="#task">
			<i class="fas fa-terminal"></i>
			<p>系統任務</p>
			<span class="caret"></span>
		</a>
		<div class="collapse" id="task">
			<ul class="nav nav-collapse">
				<li>
					<a href="?p=task&s=task&mode=add">
						<span class="sub-item">新增任務</span>
					</a>
				</li>
				<li>
					<a href="?p=task&s=manage">
						<span class="sub-item">任務管理</span>
					</a>
				</li>
			</ul>
		</div>
	</li>
</ul>