/*---------------- Fehlerbehebung Global.css Start ----------------*/
/* Delete in Global-xxx  => form table {width:100%;} */
/* Delete bodyarea position: relative; */
/* Delete Select { width: 244px !important;} */
/* Changes IMG ../images/css_images... => /imgv4/css_images */
/* Changes #mainmenu add => text-align:left; */

/*---------------- Fehlerbehebung Global.css Ende ----------------*/
input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 4px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid #949494;
  background-color: #e7e6e7;
  border-radius: 40%;
 }

/* appearance for checked radiobutton */
input[type="radio"]:checked {background-color: #c60000;}
/* disable blinking in the radiobox */
input[type="radio"]:focus {color: transparent;}

input[type=checkbox] {
    display:inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance:none;
    appearance: none;
    width:16px;
    height:16px;
    background: url('/i/Checkbox_Unchecked.png') no-repeat top left;
    cursor:pointer;
}

input[type=checkbox]:checked {
	background:url('/i/Checkbox_checked.png') no-repeat top left;
}

/*--- Support Header Navigations Start --*/
div.mainbackgroundimage{position:relative;margin-top:-3px;background: url('/i/header/hintergrund1.jpg');background-repeat:no-repeat;background-size: 1280px; height:280px;}		/*-- Header Image -*/
div.mymainbackgroundimage{position:relative;margin-top:-3px;background: url('/i/header/MySupport1.jpg');background-repeat:no-repeat;background-size: 1280px; height:220px;}		/*-- Header Image -*/
div.headlineredbox {position:absolute;top:10px;cursor:pointer;margin-left:10px;} /*-- Red Box -*/
div.headlineredbox img {width:160px;height:180px;} /*-- Red Box -*/
div.headtexttopline {position:absolute;cursor:pointer;left:17px;top:8px;font-size:180%;color:white;vertical-align:top;} /*-- Header Text: Produkt Support -*/
div.headermenuebasket {position:absolute;top:80px;right:10px;text-align:center;}	/*-- Poistion Baskets -*/

div.headermenuetext {
	-ms-filter: "Alpha(Opacity=85)"; /* IE 8 */
	filter:alpha(opacity=85); /* IE5-7 */
	-moz-opacity: 0.85; /* Mozilla */
	opacity: 0.85;
	background:#373C35;
	border:#999999 2px solid;
	padding:12px 18px 12px 18px;
	display:flex;
	float:left;
	color:#F5F5F5;
	cursor:pointer;
	margin-right:3px;
	margin-top:2px;
	font-size:110%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

div.headermenuetext:hover {
	background-image:radial-gradient(#958F8E, #494949);
	border:#FFFFFF 2px solid;
}

div.headermenuetextactive {
	background-image:radial-gradient(#EA0000, #B00000);
	border:#999999 1px solid;
	padding:12px 18px 12px 18px;
	float:left;
	color:#F5F5F5;
	border:#F4F4F4 2px solid;
	margin-right:3px;
	margin-top:2px;
	font-size:110%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

div.myheadermenuetext {
	-ms-filter: "Alpha(Opacity=85)"; /* IE 8 */
	filter:alpha(opacity=85); /* IE5-7 */
	-moz-opacity: 0.85; /* Mozilla */
	opacity: 0.85;
	background:#373C35;
	border:#999999 2px solid;
	padding:6px 25px 6px 25px;
	display:flex;
	float:left;
	color:#F5F5F5;
	cursor:pointer;
	margin-right:3px;
	margin-top:2px;
	font-size:110%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

div.myheadermenuetext:hover {
	background-image:radial-gradient(#958F8E, #494949);
	border:#FFFFFF 2px solid;
}

div.myheadermenuetextactive {
	background-image:radial-gradient(#EA0000, #B00000);
	border:#999999 1px solid;
	padding:6px 25px 6px 25px;
	float:left;
	color:#F5F5F5;
	border:#F4F4F4 2px solid;
	margin-right:3px;
	margin-top:2px;
	font-size:110%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
/*--- Support Header Navigations Ende --*/

h2.pa {font-size:110%;}

fieldset {border-style: none; margin: 0em 0px 0px 0px;}

table, tr, td {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

a img, div.contentsarea a ien {
 border-width: 0px;
 text-decoration: none;
 padding-top:0px:
}

.gridTable {
	margin-bottom:0px;
	line-height: 1.3;
	width:100%;
	border:0px;
}

.gridTableH1 {
	font-size: 140%;
	color: #ffffff;
	background-color: #9F9F9F;
	margin-bottom:0px;
	padding-left:10px;
	font-weight: bold;
}

.gridTable h2 {
	font-size: 123.1%;
	color: #a30b1a;
	margin-bottom:0px;
}

.gridTable h3 {
	font-size: 110.1%;
	color: #a30b1a;
	margin-bottom:0px;
}

table.gridTable ul {
	margin-left:0px; 
	padding-left:0px;
	margin-top:5px;
	margin-bottom:5px;
}

td.gridTD {
	padding-left:4px;
	padding-right:4px;
	padding-top:3px;
	padding-bottom:1px;
}

.gridTable li {list-style-type: none;}
.gridTable ol li {list-style-type: decimal;}
.gridTable ul li { padding-left: 24px; padding-top:5px; background: url(/imgv5/common/li_dot_lv1.gif) no-repeat 6px 0.5em;}

.greytitle {
	padding: 2px 5px;
	background-color: #DADADA;
	font-weight: bold;
	vertical-align: baseline;
	text-align: left;
}

.greyheader {
	padding: 2px 5px 2px 4px;
	background-color: #996666;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: baseline;
	text-align: left;
}

.greytitletable {
	padding: 2px 5px 2px 4px;
	background-color: #DADADA;
	font-weight: bold;
	vertical-align: baseline;
	text-align: left;
	border-bottom:#999999 1px solid
}

.contentgreyRightNav {
	background-color: #EDEDED;
	font-weight: normal;
	padding-left: 4px;
	padding-right: 2px;
	padding-top: 2px;
	vertical-align: middle;
	text-align: left;
}

.divcontentgrey {
	background-color: #EDEDED;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 6px;
	padding-top: 6px;
	vertical-align: middle;
	text-align: left;
}

.divcontentwhite {
	background-color: #FFFFFF;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 6px;
	padding-top: 6px;
	vertical-align: middle;
	text-align: left;
}

.contentwhiteRightNav {
	background-color: #FFFFFF;
	font-weight: normal;
	padding-left: 4px;
	padding-right: 2px;
	padding-top: 2px;
	vertical-align: middle;
	text-align: left;
}

input.darkbox {
	background-color: #F1EBEB;
	color: #333333;
	border: 1px solid #C0C0C0;
	height:30px;
	width:340px;
	border-radius: 3px;
}

input.inputselect{
	background: url('/i/select.png') no-repeat right; 
	background-color: #F1EBEB;
	cursor:pointer;
}

input.redbox {
	background-color: #E7DCDC;
	font-size: 120%;
	color: #333333;
	border: 2px solid #000000;
	margin: 4px 4px 4px 4px;
	border-radius: 3px;
}

input.redbox:hover {
	background-color: #C0BEBE;
	color: #333333;
	border-left:2px solid #FFFFFF;
	border-top:2px solid #FFFFFF;
	border-right:2px solid #848484;
	border-bottom:2px solid #848484;
	margin: 4px 4px 4px 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

textarea.darkbox {
	background-color: #F1EBEB;
	color: #333333;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
}

select.darkbox {
	background:#F1EBEB;
	border: 1px solid #C0C0C0;
	height:30px;
	border-radius: 3px;
}

fieldset { border-style: none; margin: 0px; margin: 0em 0px 0px 0px; padding: 3px; }
fieldset { padding: 8px 15px 5px 10px;}

select.PAauswahl {width:200px; border:none; background:#f9f9f9; background-image:linear-gradient(#e0e0e0, #f9f9f9); padding:10px; animation: einfliegen 1s;cursor: pointer;}
select.PAauswahl option:hover { background:#c0c0c0; }
select.PAauswahl option:checked { background:#ff0000; color:#ffffff; }
	@keyframes einfliegen {
	  0%	{ max-width: 1px; }
	  100%	{ max-width: 200px; }
}

select.darkbox option:checked { background:#FF0000; color:#FFFFFF; }
select.darkbox option:hover { background:#c0c0c0; color:#FFFFFF; }

.imgbuttoff {
	font-size: 80%;
	border: 1px solid #9A9A9A;
	border-radius: 4px 4px 4px 4px;
	background-image:Linear-gradient(#ffecec, #f9b6ae);
	cursor:not-allowed;
	display: inline-block;
	padding: 4px 10px 5px 10px;
	color:#909090;
	height:30px;
}

.imgbutton {
	font-size: 80%;
	border: 1px solid #9A9A9A;
	border-radius: 4px 4px 4px 4px;
	background-image:Linear-gradient(#FFFFFF, #D3D3D3);
	cursor:pointer;
	display: inline-block;
	padding: 4px 10px 3px 10px;
	height:30px;
}

.imgbutton:hover {background-image:Linear-gradient(#CDCDCD, #AEAEAE);}

.imgbuttondisabled {
	font-size: 80%;
	display: inline-block;
	padding: 4px 10px 4px 10px;
	background-image:Linear-gradient(#FFFFFF, #E1E1E1);
	border: 1px solid #9A9A9A;
	cursor:not-allowed;
	border-radius: 4px 4px 4px 4px;
	height:30px;
}

.buttonsubmit {
	padding: 5px 10px 3px 10px; 
	background-image:Linear-gradient(#FFFFFF, #E1E1E1);
	border: 1px solid #9A9A9A;
	border-radius: 4px 4px 4px 4px;
	cursor:pointer;
	color: black;
}

.buttonsubmit:hover {background-image:Linear-gradient(#CDCDCD, #AEAEAE);}

div.rounded-overlay {
	background-color: #000;
	background: #FDFDFD;
	border-radius: 7px;
	border:6px #ffffff solid;
}

.overlay {
	background-color: #000;
	-ms-filter: "Alpha(Opacity=75)"; /* IE 8 */
		filter:alpha(opacity=75); /* IE5-7 */
	-moz-opacity: 0.75; /* Mozilla */
		opacity: 0.75;
	position: absolute; 
	top: 0; 
	left: 0;  
	width: 100%; 
	height: 100%;  
	z-index: 900;
}

.overlaytable{position: absolute;z-index: 1000;padding: 4px 6px 0px 0px;}

.overlayback{position: absolute;}

div.frm-grd{padding : 4px 6px 0px 6px;}
td.inaktiv {color:#A3A3A3;}
select.inaktiv { width:200px; color:#8C8C8C;border:none; background:#f9f9f9; background-image:linear-gradient(#e0e0e0, #f9f9f9); padding:10px;}
select.inaktiv option:hover { background:#c0c0c0; }
select.inaktiv option:checked { background:#FF0000; color:#FFFFFF; }

.overlayscroll {
	 height: 500px;
	 overflow: auto;
} 

.imagebutton {
	background:#F7F7F7;
	border:#999999 3px solid;
	padding:5px 10px 5px 10px;
	border-top: 5px solid #D3D3D3 ;
	border-right: 3px solid #7D7D7D ;
	border-bottom: 2px solid #7D7D7D ;
	border-left: 5px solid #C0C0C0 ;
	text-align:center;
	cursor:pointer;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

}

.imagebutton:hover {
	background:#E6E6E6;
	border:#999999 3px solid;
	padding:5px 10px 5px 10px;
	border-top: 2px solid #7D7D7D ;
	border-right: 5px solid #C0C0C0 ;
	border-bottom: 6px solid #D3D3D3 ;
	border-left: 3px solid #7D7D7D ;
	text-align:center;
	cursor:pointer;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

td.headline {font-size:100%;height:30px; background:#D8D8D8;}
div.headline {font-size:125%;height:30px; background:#D8D8D8;}
td.headerimage {vertical-align:top;text-align:center;width:300px;}
td.headerimageactive {font-size:80%;color:#ffffff; text-align:center;vertical-align:bottom;width:210px;padding-bottom:2px;}
td.headertext {font-size:80%;color:#ffffff; text-align:center;vertical-align:bottom;width:210px;height:52px;}
table.contenttd { background:#f9f9f9; background-image:linear-gradient(#e0e0e0, #f9f9f9);width:100%;}
table.contentactive { background:#f9f9f9; background-image:linear-gradient(#FAC0C9, #f9f9f9);width:100%;}
.contenttd { background:#f9f9f9; background-image:linear-gradient(#e0e0e0, #f9f9f9);padding-top:5px;padding-right:3px;}
td.header {
	font-size:89%;
	background:#FFFFFF;
	background-image:linear-gradient(#FFFFFF, #F0F0F0);
	border-width: 1px 1px 1px 1px;
	border-color: #DBDBDB;
	border-style: solid;
	color:#000000;
	font-weight:bold;
	padding-top:6px;
	padding-bottom:6px;
	height:30px;
	text-align:center;
}
td.header:hover { background:#e0e0e0; background-image:linear-gradient(#f9f9f9, #D8D8D8); color:#6D2935; font-weight:bold;}
td.header:active { background:#ff0000; background-image:linear-gradient(#EA0000, #B00000); color:#ffffff; font-weight:bold;}

.switchdisabled {
	background-image:radial-gradient(#9B9B9B, #606060);
	color:#dddddd;
	cursor:not-allowed;
	text-align:center;
	vertical-align:middle;
	font-size:90%;
	float:left;
	height:32px;
	border:1px #ffffff solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px; 
}

.switchon {
	background-image:radial-gradient(#FF4A4A, #8A0000);
	color:#FFFFFF;
	cursor: pointer;
	text-align:center;
	vertical-align:middle;
	float:left;
	height:32px;
	font-size:90%;
	border:1px #ffffff solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px; 
}

.switchon:hover {background:#640000; background-image:radial-gradient(#ff4a4a,#640000);font-weight:bold;}

.switchoff {
	background-image:radial-gradient(#9B9B9B, #606060);
	color:#FFFFFF;
	cursor: pointer;
	text-align:center;
	float:left;
	font-size:90%;
	height:32px;
	vertical-align:middle;
	border:1px #ffffff solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px; 
}

.switchoff:hover { background:#7d7d7d; background-image:radial-gradient(#a0a0a0, #373737);font-weight:bold;}

.myhovergrey{padding:4px 4px 2px 8px;float:right;color:#cacaca;}

.myhovergrey:hover { background:#cfcfcf;}

.HeaderNav {position:relative;overflow:hidden;margin-top:-44px;z-index:1;padding-left:6px;padding-bottom:10px;}

.mydd-hook {padding:4px 8px 2px 8px;float:right;color:#cacaca;}
.mydd-hook:hover { background:#cfcfcf;}

.divheader {
	float:left;
	background:#FFFFFF;
	background-image:linear-gradient(#FFFFFF, #F0F0F0);
	border-width: 1px 1px 1px 1px;
	border-color: #DBDBDB;
	border-style: solid;
	color:#000000;
	font-weight:bold;
	padding:6px 25px 6px 25px;
	text-align:center;
	cursor:pointer;
	-moz-border-radius:6px 6px 0px 0px;
	-webkit-border-radius:6px 6px 0px 0px;
	border-radius:6px 6px 0px 0px; 
}
.divheader:hover { background:#e0e0e0; background-image:linear-gradient(#f9f9f9, #D8D8D8); color:#6D2935; font-weight:bold;}
.divheader:active { background:#ff0000; background-image:linear-gradient(#EA0000, #B00000); color:#ffffff; font-weight:bold;}

.divheaderactive {
	float:left;
	background:#ff0000;
	background-image:linear-gradient(#ff0000, #c00000);
	color:#ffffff;
	font-weight:bold;
	padding:6px 25px 6px 25px;
	text-align:center;
	border-width: 1px 1px 1px 0px;
	border-color: #C20000;
	border-style: solid;
	cursor:default;
	-moz-border-radius:6px 6px 0px 0px;
	-webkit-border-radius:6px 6px 0px 0px;
	border-radius:6px 6px 0px 0px; 
}

.divoverlayheader {
	font-size:120%;
	background:#ff0000;
	background-image:linear-gradient(#ff0000, #c00000);
	color:#ffffff;
	padding:3px 3px 3px 3px;
	font-weight:bold;
	text-align:center;
	vertical-align: middle;
	width:100%;
}

.divheaderinactive {
	float:left;
	background:#FFFFFF;
	background-image:linear-gradient(#FFFFFF, #F0F0F0);
	border-width: 1px 1px 1px 1px;
	border-color: #DBDBDB;
	border-style: solid;
	color:#888888;
	padding:6px 25px 6px 25px;
	text-align:center;
	cursor:not-allowed;
}

.tableheadline {
	background:#FFFFFF;
	background-image:linear-gradient(#D4D4D4, #B1B1B1);
	padding:2px 2px 2px 5px;
	height:20px;
}

.changetext{
	font-weight:100;
	color:#FFFFFF;
	font-size:30px;
	line-height:45px;
	height:100%;
	padding-top:30px;
	text-align:center;
	background-image:radial-gradient(#FF4A4A, #8A0000);
		-ms-filter: "Alpha(Opacity=75)"; /* IE 8 */
		filter:alpha(opacity=75); /* IE5-7 */
		-moz-opacity: 0.75; /* Mozilla */
		opacity: 0.75;
}

.changetextnotactive{
	font-weight:100;
	color:#FFFFFF;
	font-size:30px;
	line-height:45px;
	height:100%;
	padding-top:30px;
	text-align:center;
	background-image:radial-gradient(#9B9B9B, #606060);
		-ms-filter: "Alpha(Opacity=75)"; /* IE 8 */
		filter:alpha(opacity=75); /* IE5-7 */
		-moz-opacity: 0.75; /* Mozilla */
		opacity: 0.75;
}

.producttext{
	font-weight:100;
	color:#FFFFFF;
	font-size:20px;
	line-height:25px;
	width:350px;
	padding-top:3px;
	background-image:radial-gradient(#FF4A4A, #8A0000);
		-ms-filter: "Alpha(Opacity=9)"; /* IE 8 */
		filter:alpha(opacity=9); /* IE5-7 */
		-moz-opacity: 0.9; /* Mozilla */
		opacity: 0.9;
}

.producttextnew{
	color:#FFFFFF;
	font-size:18px;
	line-height:25px;
	padding-top:3px;
	background-image:radial-gradient(#FF4A4A, #C10000);
		-ms-filter: "Alpha(Opacity=7)"; /* IE 8 */
		filter:alpha(opacity=7); /* IE5-7 */
		-moz-opacity: 0.7; /* Mozilla */
		opacity: 0.7;
    animation: move 3s;
    animation-iteration-count: infinite;
}

.productimage{
	width:auto;
	background-size: 260px;
	width:100%;
	height:100%;
}
.moreinfo img {margin-bottom:-2px;}
td.ProdModullist {text-align:center;border-right: 1px dotted #CDCDCD;}
.ProdModullistNew {
	text-align:center;
	vertical-align:middle;
	background:#ff0000;
	background-image:linear-gradient(#ff0000, #c00000);
	color:#FFFFFF;
	font-weight:bold;
	padding-top:3px;
	margin-right:5px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.ProdModullistNew:hover {background:#ff0000;background-image:linear-gradient(#CC0000, #9D0000);color:#E0E0E0;}

.ProdModullistWait {text-align:center;vertical-align:middle;background:#ff9900;background-image:linear-gradient(#ff9900, #c46200);color:#FFFFFF;font-weight:bold;padding-top:5px;margin-right:5px;}
.ProdModullistWait:hover {background:#ff9900;background-image:linear-gradient(#ff9900, #9D0000);color:#E0E0E0;}

.ProdModullistOff {
	text-align:center;
	vertical-align:middle;
	background:#C0C0C0;
	background-image:linear-gradient(#C0C0C0, #837c7d);
	color:#FFFFFF;
	font-weight:bold;
	padding-top:3px;
	margin-right:5px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.ProdModullistOff:hover {background:#a8a8a8;background-image:linear-gradient(#a8a8a8, #686465);color:#d7d7d7;}

.ProdModullistOnOff {text-align:center;vertical-align:middle;background:#eccccc;background-image:linear-gradient(#ff0000,#80797a);color:#FFFFFF;font-weight:bold;padding-top:5px;margin-right:5px;}
td.headertab {background:#f9f9f9; color:#000000; font-weight:bold; cursor:pointer;border:1px solid #A3A3A3;padding:4px 4px 4px 4px;text-align:center;vertical-align:middle;height:30px;}
td.headertab:hover {background:#e0e0e0; background-image:linear-gradient(#f9f9f9, #D8D8D8); color:#6D2935;}
td.headertab:active {background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff;}
td.headeractivetab {background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff;border:1px solid #C20000;font-weight:bold;padding:4px 4px 4px 4px;text-align:center;vertical-align:middle;height:30px;}
.PAButton { background:#f9f9f9; color:#000000;font-size:106%;font-weight:bold; cursor:pointer;border-style: solid; border-width: 1px 1px 1px 1px; border-color: #DBDBDB;vertical-align:top;text-align:center;width:195px;float:left;padding:3px 0px 3px 3px;}
.PAButton:hover { background:#ff0000; background-image:linear-gradient(#E10000, #c00000); color:#C0C0C0;}
.PAButtonOpen { background-image:linear-gradient(#ff0000, #c00000);color:#ffffff;font-size:106%;font-weight:bold; cursor:pointer;border-style: solid; border-width: 1px 1px 1px 1px; border-color: #DBDBDB;vertical-align:top;text-align:center;width:195px;float:left;padding:3px 0px 3px 3px;}
.PAButtonOpen:hover {background-image:linear-gradient(#E10000, #c00000); color:#C0C0C0;}
.PAButtonOpen:hover;before {background-image:linear-gradient(#E10000, #c00000); color:#ffffff;}
img.PAImage {width:180px;}
.prodzeile {font-size:110%;padding-left:10px;background:#a0a0a0; background-image:linear-gradient(#c0c0c0, #a0a0a0); color:#ffffff; font-weight:bold;height:30px;vertical-align:middle;padding-right:5px;width:100%;}

div.separator {height:5px;}

div.tab40 {width:100%; max-height:37px; overflow:hidden; animation: erscheinen40 1s;}
@keyframes erscheinen40 {0% {max-height: 1px;} 100% {max-height: 37px;}}

div.tab {width:100%; max-height:30px; overflow:hidden; animation: erscheinen 1s;border-bottom:1px #d3d3d3 solid;}

div.tabnormal {width:100%; max-height:30px; overflow:hidden;}
@keyframes erscheinen {0% {max-height: 1px;} 100% {max-height: 30px;}}

div.open {width:100%; max-height:auto; overflow:hidden; animation: strecken1 1s;}
@keyframes strecken1 {0% {max-height: 30px;} 100% {max-height: 815px;}}

div.open40 {width:100%; max-height:auto; overflow:hidden; animation: strecken40 1s;}
@keyframes strecken40 {0% {max-height: 40px;} 100% {max-height: 815px;}}

div.opentd {width:100%; background:#f9f9f9; background-image:linear-gradient(#e0e0e0, #F0F0F0);max-height:auto; overflow:hidden; animation: strecken2 1s;}
@keyframes strecken2 {0% {max-height: 0px;} 100% {max-height: 315px;}}

div.close { width:100%;;max-height:30px; overflow:hidden; animation: stauchen1 1s;}
@keyframes stauchen1 {0% {max-height: 157px; } 100% {max-height: 30px;}}

div.close40 { width:100%;;max-height:40px; overflow:hidden; animation: stauchen40 1s;}
@keyframes stauchen40 {0% {max-height: 157px; } 100% {max-height: 40px;}}

div.closetd { width:100%;;max-height:1px; overflow:hidden; animation: stauchen2 1s;}
@keyframes stauchen2 { 0% {max-height: 157px;} 100% {max-height: 0px;}}

.plus {font-size:110%;vertical-align:middle; background:#F3F3F3;background-image:linear-gradient(#F3F3F3, #DFDFDF); color:#000000; cursor:pointer;height:30px;vertical-align:middle;}
.plus:before { content:url('/i/header/plus.png'); padding:5px;}
.plus:hover { background:#e0e0e0; background-image:linear-gradient(#f9f9f9, #BCBCBC); color:#000000; }
.plus:hover:before { content:url('/i/header/plus.png'); padding:5px; }
.plus:active { background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff; font-weight:bold; }
.plus:active:before { content:url('/i/header/minusw.png'); padding:5px; }
.plus40 {font-size:110%;background:#F3F3F3;background-image:linear-gradient(#F3F3F3, #DFDFDF); color:#000000;cursor:pointer;vertical-align:middle;padding:5px 5px 5px 5px;width:100%;}
.plus40:before {float:left;content:url('/i/header/plus.png');padding:0px 5px 0px 5px;}
.plus40:hover {background:#e0e0e0; background-image:linear-gradient(#f9f9f9, #BCBCBC); color:#000000; }
.plus40:hover:before { content:url('/i/header/plus.png');}
.plus40:active {background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff; font-weight:bold;}
.plus40:active:before {content:url('/i/header/minusw.png');}
.plus0 {font-size:110%;background:#E8E8E8;background-image:linear-gradient(#E8E8E8, #CECECE); color:#000000;cursor:pointer;vertical-align:middle;padding:5px 5px 5px 5px;width:100%;}
.plus0:before {float:left;content:url('/i/header/plus.png');padding:0px 5px 5px 5px;}
.plus0:hover {background:#e0e0e0; background-image:linear-gradient(#f9f9f9, #BCBCBC); color:#000000; }
.plus0:hover:before { content:url('/i/header/plus.png');padding:0px 5px 5px 5px;}
.plus0:active {background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff; font-weight:bold;}
.plus0:active:before {content:url('/i/header/minusw.png'); padding:0px 5px 5px 5px;}
.plus1 {font-size:100%;background:#EAEAEA;background-image:linear-gradient(#F3F3F3, #DADADA);color:#000000; cursor:pointer;height:30px;vertical-align:middle;padding-right:5px;width:100%;}
.plus1:before {float:left;content:url('/i/header/plus.png');padding:0px 5px 5px 10px;}
.plus1:hover { background:#c0c0c0; background-image:linear-gradient(#e0e0e0, #c0c0c0); color:#000000;}
.plus1:hover:before { content:url('/i/header/plus.png'); padding:0px 5px 5px 10px;}
.plus1:active { background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff; font-weight:bold;}
.plus1:active:before { content:url('/i/header/minusw.png'); padding:0px 5px 5px 10px;}
.plus2 {background:#EAEAEA;background-image:linear-gradient(#EAEAEA, #CACACA);color:#000000; cursor:pointer;height:30px;vertical-align:middle;padding-right:5px;width:100%;}
.plus2:before { content:url('/i/header/plus.png'); padding:0px 5px 5px 20px;}
.plus2:hover { background:#c0c0c0; background-image:linear-gradient(#e0e0e0, #c0c0c0); color:#000000;}
.plus2:hover:before { content:url('/i/header/plus.png'); padding:0px 5px 5px 20px;}
.plus2:active { background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff; font-weight:bold;}
.plus2:active:before { content:url('/i/header/minusw.png'); padding:0px 5px 5px 20px;}
.plus3 {font-size:95%;background:#e0e0e0; background-image:linear-gradient(#DBDBDB, #BCBCBC); color:#000000; cursor:pointer;height:30px;vertical-align:middle;padding-right:5px;width:100%;}
.plus3:before { content:url('/i/header/plus.png'); padding:0px 5px 5px 30px;}
.plus3:hover { background:#c0c0c0; background-image:linear-gradient(#e0e0e0, #c0c0c0); color:#000000; }
.plus3:hover:before { content:url('/i/header/plus.png'); padding:0px 5px 5px 30px;}
.plus3:active { background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff; font-weight:bold;}
.plus3:active:before { content:url('/i/header/minusw.png'); padding:0px 5px 5px 30px;}
.fix { background:#808080; color:#ffffff; font-weight:bold;padding-left:10px;}
.fixred {background:#ff0000; color:#ffffff; font-weight:bold;padding-left:10px;}
.minus {font-size:110%;background:#a0a0a0; background-image:linear-gradient(#c0c0c0, #a0a0a0); color:#ffffff; font-weight:bold; cursor:pointer;height:30px;vertical-align:middle;}
.minus:before {content:url('/i/header/minusw.png'); padding:5px;}
.minus:hover {background:#808080; background-image:linear-gradient(#a0a0a0, #808080); color:#ffffff; font-weight:bold;}
.minus:hover:before { content:url('/i/header/minusw.png'); padding:5px; }
.minus:active { background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff; font-weight:bold;}
.minus:active:before { content:url('/i/header/plusw.png'); padding:5px;}
.minus40 {font-size:110%;background:#a0a0a0;background-image:linear-gradient(#c0c0c0, #a0a0a0);color:#ffffff;cursor:pointer;vertical-align:middle;height:40px;padding:0px 5px 0px 5px;width:100%;}
.minus40:before {float:left;content:url('/i/header/minusw.png'); padding:0px 5px 0px 5px;}
.minus40:hover {background:#808080; background-image:linear-gradient(#a0a0a0, #808080); color:#ffffff; font-weight:bold;}
.minus40:hover:before { content:url('/i/header/minusw.png'); padding:0px 5px 0px 5px;}
.minus40:active { background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff; font-weight:bold;}
.minus40:active:before {content:url('/i/header/plusw.png'); padding:0px 5px 0px 5px;}
.minus1 {background:#808080; background-image:linear-gradient(#a0a0a0, #808080); color:#ffffff; font-weight:bold; cursor:pointer;height:30px;vertical-align:middle;padding-right:5px;}
.minus1:hover { background:#606060; background-image:linear-gradient(#808080, #606060); color:#ffffff; font-weight:bold;}
.minus1:hover:before { content:url('/i/header/minusw.png'); padding:0px 5px 5px 10px;}
.minus1:before {float:left;content:url('/i/header/minusw.png');padding:0px 5px 5px 10px;}
.minus1:active { background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff; font-weight:bold;}
.minus1:active:before { content:url('/i/header/plusw.png'); padding:0px 5px 5px 10px;}
.minus2 {background:#808080; background-image:linear-gradient(#a0a0a0, #808080); color:#ffffff; font-weight:bold; cursor:pointer;height:30px;vertical-align:middle;padding-right:5px;}
.minus2:hover { background:#606060; background-image:linear-gradient(#808080, #606060); color:#ffffff; font-weight:bold;}
.minus2:hover:before { content:url('/i/header/minusw.png'); padding:0px 5px 5px 20px;}
.minus2:before { content:url('/i/header/minusw.png'); padding-left:20px; padding-right:5px;}
.minus2:active { background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff; font-weight:bold;}
.minus2:active:before { content:url('/i/header/plusw.png'); padding:0px 5px 5px 20px;}
.minus3 {font-size:95%;background:#808080; background-image:linear-gradient(#a0a0a0, #808080); color:#ffffff; font-weight:bold; cursor:pointer;height:30px;vertical-align:middle;padding-right:5px;}
.minus3:hover { background:#606060; background-image:linear-gradient(#808080, #606060); color:#ffffff; font-weight:bold;}
.minus3:hover:before { content:url('/i/header/minusw.png'); padding:3px 5px 5px 30px;}
.minus3:before { content:url('/i/header/minusw.png'); padding-left:30px; padding-right:5px;}
.minus3:active { background:#ff0000; background-image:linear-gradient(#ff0000, #c00000); color:#ffffff; font-weight:bold;}
.minus3:active:before { content:url('/i/header/plusw.png'); padding:3px 5px 5px 30px;}
td.OSselected { background:#a57a76; background-image:linear-gradient(#a79898, #8a6060); color:#ffffff; font-weight:bold;cursor:pointer;}
td.OSselected:hover {background:#ff0000; background-image:linear-gradient(#FF6C6C, #C40000);color:#FFFFFF;cursor:pointer;}
td.OSaktiv {background-image:linear-gradient(#f9f9f9, #DFDFDF); color:#000000; cursor:pointer;}
td.OSaktiv:hover {background:#ff0000; background-image:linear-gradient(#FF6C6C, #C40000);color:#FFFFFF;cursor:pointer;}
td.headline {padding:5px; background:#a0a0a0; background-image:linear-gradient(#c0c0c0, #a0a0a0); color:#ffffff; font-weight:bold;}
td.OSSelect {font-weight:bold;border:#808080 1px solid;background:#DDDDDD;background-image:linear-gradient(#f9f9f9, #D8D8D8);padding:2px;cursor:pointer;}
td.OSSelect:hover { background:#e0e0e0; background-image:linear-gradient(#EFEFEF, #BCBCBC); color:#6D2935; font-weight:bold; }
.alink {color: #003399;text-decoration:underline;cursor:pointer;vertical-align:top;padding-bottom:6px;}
.alink:hover { color: #cc3300;}
td.headertd {vertical-align:middle; background-image:linear-gradient(#c0c0c0, #a0a0a0); color:#ffffff;padding-left:4px;}
.contenthead {font-size:70%;font-weight: bold; padding:0px 8px 0px 3px;}
.contenttext {padding:0px 8px 8px 3px;vertical-align:top;}
div.oschange {font-size:85%;border:#9A9A9A 1px solid;background:#f9f9f9;background-image:linear-gradient(#f9f9f9,#e0e0e0);cursor:pointer;height:25px;}
div.oschange:hover {background:#e0e0e0; background-image:linear-gradient(#EAEAEA, #C5C5C5); color:#FF0000;}
div.oschange:active {background:#ff0000; background-image:linear-gradient(#EA0000, #B00000); color:#ffffff;}
td.selectlist {padding:2px 2px 2px 2px;border-left:#9A9A9A 1px solid;border-right:#9A9A9A 1px solid;background:#E4E4E4;cursor:pointer;}
td.selectlist:hover {background:#C1C1C1; color:#FFFFFF;}
td.selectlist:active {background:#ff0000; background-image:linear-gradient(#EA0000, #B00000); color:#ffffff;}
.tabgrey {background:#F3F3F3;background-image:linear-gradient(#F3F3F3, #DFDFDF);}
.tabgrey:hover {background:#F3F3F3;background-image:linear-gradient(#f9f9f9, #BCBCBC);;color:#8A0216;}
.tabwhite {color:#000000;}
.tabwhite:hover {background:#F3F3F3;background-image:linear-gradient(#f9f9f9, #BCBCBC);;color:#8A0216;}

div.telselRow { display: table-row;font-size:85%;cursor:pointer;height:25px;}
div.telselRow:hover {background:#e0e0e0; background-image:linear-gradient(#EAEAEA, #C5C5C5); color:#FF0000;}
div.telselRow:active {background:#ff0000; background-image:linear-gradient(#EA0000, #B00000); color:#ffffff;}
div.telselRowactive {display: table-cell;padding: 3px 3px;background:#ff0000; background-image:linear-gradient(#EA0000, #B00000); color:#ffffff;}

.contentgrey{background:#F7F7F7;background-image:linear-gradient(#F7F7F7, #DFDFDF);}
.contentgrey:hover {background:#F3F3F3;background-image:linear-gradient(#f9f9f9, #BCBCBC);;color:#8A0216;}

.contentwhite{background:#FFFFFF;border-bottom:1px solid #E0E0E0;}
.contentwhite:hover {background:#F3F3F3;background-image:linear-gradient(#f9f9f9, #BCBCBC);;color:#8A0216;}
.clearfix:after {content: "";display: table;clear: both;}
div.mainbackgroundimagesmall{display:none;}

/* Location Area */
#mylocation ol { padding: 5px 5px 5px; margin: 0; list-style: none; font-size: 93%;}
ol.mylocation-inside { border: 1px solid #ffffff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px 3px 3px 3px; }
#mylocation li { display: inline; margin: 0; margin-right: 2px; line-height: 1.3;}
#mylocation li a { margin-right: 2px;}
#mylocation li a:link,#mylocation li a:visited,#mylocation li a:active {color:#CA0000; margin-right: 2px; text-decoration: none;}
#mylocation li a:hover { margin-right: 2px; text-decoration: underline;}
.widthtablesmall {display:none;}
#divosoverlay {width:550px;}
#headnavidevelop {margin: 14px 10px 0 0;padding-left:10px; text-align: right; }
.flgimg {width:30px;height:25px;padding-bottom:0px;}
div.PATextHeadLine {font-size:115%;display:flex;flex-direction:column;justify-content:center;height:60px;}

.divTable { display: table; }
.divTableHeading{display: table-header-group;background-color: #d3d3d3;}
.divTableRow { display: table-row; }
.divTableHead {display: table-cell;padding: 3px 3px;border-right:1px #dfdfdf solid;}
.divTableCell {display: table-cell;padding: 3px 3px;border-right:1px #cecece solid;}
.divTableHeadBorder {margin-top:3px;font-size:80%;font-weight: bold;display: table-cell;padding: 1px 3px;border:1px #bfbfbf solid;}
.divTableCellwhite {display: table-cell;padding: 3px 3px;border-right:1px #cecece solid;background-color: #FFFFFF;}
.divTableCellgrey  {display: table-cell;padding: 3px 3px;border-right:1px #cecece solid;background-color: #EDEDED;}
.divTableCellwhite1 {display: table-cell;padding: 3px 3px;border-right:1px #cecece solid;background-color: #FFFFFF;}
.divTableCellgrey1  {display: table-cell;padding: 3px 3px;border-right:1px #cecece solid;background-color: #EDEDED;}
.divTableCellnew  {display: table-cell;padding: 3px 3px;border-right:1px #cecece solid;background-color: #acacac;font-weight:bold}
.divTableCell1 {display: table-cell;padding: 3px 3px;vertical-align:top;}
.divTableCell2 {display: table-cell;padding: 3px 3px;vertical-align:top;}
.divlogindesc {float:left;padding-left:8px;font-size:260%;color:white;font-weight:bold;}
.divloginuser {float:right;text-align:right;padding: 8px;color:white;}
#sessiontimeout {position:absolute;margin-top:65px;font-size:70%;color:#8a8a8a}

@media screen and (max-width: 1280px){
	#sessiontimeout {margin-right:10px;}
}
@media screen and (max-width: 1050px){
	div.myheadermenuetext {padding:4px 10px 4px 10px;font-size:95%;}
	div.myheadermenuetextactive {padding:4px 10px 4px 10px;;font-size:95%;}
}

@media screen and (max-width: 1000px){
	img.PAImage {width:170px;}

	div.contentsarea , div.maincontents {width:99.5%;float: left;}
	.headnavi {float: left;padding-top:20px;}

	div.headlineredbox img {width:120px;height:120px;display:block;} /*-- Red Box -*/
	div.headtexttopline {position:absolute;cursor:pointer;left:17px;top:8px;font-size:125%;color:white;vertical-align:top;} /*-- Header Text: Produkt Support -*/
	div.headermenuebasket {position:absolute;top:80px;right:10px;text-align:center;}	/*-- Position Baskets -*/
	#sessiontimeout {margin-top:55px;}
	.switchoff {font-size:70%;height: 25px;}
	.switchon {font-size:70%;height: 25px;}
}

@media screen and (max-width: 790px){
	div.contentsarea , div.maincontents {width:99.5%;float: left;}
	.headnavi {float: left;padding-top:20px;}
	.HeaderNav {background:#000000;}
	/*--- Support Header Navigations Start --*/
	div.mainbackgroundimage{background-size: 790px; height:200px;}
	div.headermenuebasket {font-size:80%;top:40px;}	/*-- Position Baskets -*/
	div.headermenuetext {padding:5px 5px 5px 5px;font-size:95%;}
	div.headermenuetextactive {padding:5px 5px 5px 5px;font-size:95%;}
	div.headernavespace {padding:1px 1px;}
	div.myheadermenuetext {padding:2px 5px 2px 5px;font-size:95%;}
	div.myheadermenuetextactive {padding:2px 5px 2px 5px;;font-size:95%;}
	#divcontacttext {display: none;}
	#divheadsearchtext {display: none;}
	#divheadsearchtextinactive {display: none;}
	#divlogouttext {display: none;}
	#ChangeLngText {display: none;}
	/*--- Support Header Navigations Ende --*/

	/* Produktassistent images deaktivieren */
	#paimgad{display:none;}
	#paimgin{display:none;}
	#paimgpi{display:none;}
	#paimgps{display:none;}
	.plus40 {font-size:95%;)
	.plus1,.prodzeile {font-size:90%;}
	.widthtable {display:none;}
	.widthtablesmall {display:table-row;}
	#divosoverlay {width:320px;}
	#headnavidevelop {display: none;}
	input.darkbox {max-width:240px;}
}

@media screen and (max-width: 560px){
	div.headlineredbox img {width:100px;height:100px;display:block;} /*-- Red Box -*/
	div.headermenuetext {padding:3px 3px 3px 3px;font-size:90%;}
	div.headermenuetextactive {padding:3px 3px 3px 3px;font-size:90%;}
	.flgimg {width:25px;}
	div.PATextHeadLine {font-size:100%;}
	div.divlogindesc {font-size:180%;}
	div.divloginuser {font-size:70%;}
	.plus1,.prodzeile {font-size:80%;}
	#sessiontimeout {font-size:60%;margin-top:50px;}
}

@media screen and (max-width: 450px){
	#footer .footer-inside {height:25px;}
	div.gridTableH1 {font-size:110%;}
	div.PATextHeadLine {font-size:80%;height:35px;}
	div.divlogindesc {font-size:120%;}
	div.PAButton {width:160px;}
	div.PAButtonOpen {width:160px;}
	.ButtonIcon {display:none;}
}

@media screen and (max-width: 280px){
	.headermenuebasket{position: absolute;bottom:132px;right:0px;}
}